<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
    <body>
        <h1>Person:</h1>
        <p th:text="${'Name: ' + person.getName()}">VALUE</p>
        <p th:text="${'ID: ' + person.getId()}">VALUE</p>
        <p th:text="${'Age: ' + person.getAge()}">VALUE</p>
        <p th:text="${'E-mail: ' + person.getEmail()}">VALUE</p>
        <br/>
        <hr/>

        <form th:action="@{/people/{id}/edit(id=${person.getId()})}">
            <input type="submit" value="Edit"/>
        </form>

        <form action="/people">
            <input type="submit" value="Back"/>
        </form>

        <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
            <input type="submit" value="Delete"/>
        </form>

    </body>
</html>